.footer {
	bottom: 0;
	text-align: right;
	/* background-color: #f9f7e3; */
}

.church-address {
	color: black;
	/* color: white; */
	font: 16px "Avenir Book", sans-serif;
	padding: 10px;
	margin-right: 100px;
}
