.logo {
	position: absolute;
	margin: 13px 0 0 100px; /* top, right, bottom, left (clockwise) */
	height: 40px;
	z-index: 2;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 100;
	background-color: #f9f7e3;
}

.nav-links {
	margin: 0 100px 0 0; /* top, right, bottom, left */
	padding: 20px;
	display: flex;
	color: black;
	/* color: brown; */
}

.nav-links li {
	margin-left: 80px;
	padding: 40px, 0; /* top, bottom are 20px, left and right are 0 */
	font: 18px "Avenir Book", sans-serif;
	font-weight: bolder;
	display: inline;
	/* color: darkred; */
	/* background-color: black; */
}

.nav-links a {
	text-decoration: none;
}

.nav-links a:hover {
	text-decoration-line: underline;
}

.dropdown {
	position: relative;
	display: inline-block;
	font: 14px "Avenir Book", sans-serif;
	font-weight: bolder;
}
.dropdown-content {
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
	display: none;

	position: absolute;
	background-color: #f9f7e3b9;
	min-width: 320px;
}
.dropdown-content a {
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.hamburger,
.screen {
	display: none;
}

/* .close-button { position: absolute; top: 20px;right: 20px;
	font-size: 30px; color: white;
	cursor: pointer; z-index: 100; display: none;  } */

@media (max-width: 768px) {
	.logo {
		display: none;
	}
	.hamburger {
		position: absolute;
		top: 20px;
		right: 40px;
		font-size: 50px;
		color: rgb(219, 227, 247);
		cursor: pointer;
		display: block;
	}

	.nav-links {
		display: none;
	}

	.churchNameBox {
		position: absolute;
		left: 5%;
		top: 5%;
	}
	.text-james-less {
		font: 60px "Bebas Neue", sans-serif;
		color: #f9f7e3;
		line-height: 1;
	}

	.text-roman {
		font: 16px "Avenir Book", sans-serif;
		padding-left: 5px;
		color: #f9f7e3;
		line-height: 1;
	}
	.screen {
		position: absolute;
		top: 0;
		left: -100%;
		width: 75%;
		height: 100vh;
		padding: 0;
		background-color: rgba(41, 101, 172, 0.88);
		display: flex;
		flex-direction: column;
		transition: left 1.5s ease;
	}

	.screen-links {
		margin: 320px 0 0 40px;
		/* clockwise:  top is 140; right & bottom, 0; left is 40 */
		padding: 0;
		list-style-type: none;
	}

	.screen-links li {
		margin-bottom: 28px;
		font: 32px "Avenir Book", sans-serif;
		color: white;
	}

	.screen-links a {
		text-decoration: none;
		color: inherit;
	} /* Inherit li color */

	.screen-links a:hover {
		color: yellow;
	}

	.active {
		left: 0;
	}

	.church-address {
		display: none;
	}
}
