body,
html {
	background-color: white;
}

.nav-links a {
	color: black;
}

.content-50-50-box {
	width: 100%;
	margin-top: 50px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	/* height: 500px; */
	/* background-color: aqua; */
}
.content-50-50-left {
	flex: 50%;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* height: 400px; */
	/* background-color: brown; */

	text-align: left;
}
.content-50-50-right {
	flex: 50%;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* height: 400px; */
	/* background-color: chartreuse; */
}

.page-text-james-less {
	margin: 0;
	padding-left: 250px;
	font: 120px "Bebas Neue", sans-serif;
	color: black;
	line-height: 1;
}
.page-text-roman {
	margin: 0;
	padding-left: 250px;
	font: 24px "Avenir Book", sans-serif;
	color: black;
	line-height: 1;
}
.section-title {
	font: 40px "Avenir Book", sans-serif;
	font-weight: bolder;
	color: black;
}

.section-title-centered {
	font: 40px "Avenir Book", sans-serif;
	font-weight: bolder;
	color: black;
	text-align: center;
}

.temp-box1 {
	margin-left: 200px;
}
.image-box {
	/* align-content: center; */
	text-align: center;
}

.title {
	font: 32px "Avenir Book", sans-serif;
	font-weight: bolder;
	color: black;
}

.text {
	font: 24px "Avenir Book", sans-serif;
	font-weight: bolder;
	padding-right: 50px;
	color: black;
}
ul {
	list-style-type: none;
}
.divider {
	width: 100%;
	height: 0.25px;
	margin-top: 10px;
	background-color: black;
}
.footer {
	text-align: right;
}

.church-address {
	font: 14px "Avenir Book", sans-serif;
	margin-right: 100px;
	margin-bottom: 30px;
	/* color: white; */
	color: black;
}
