.logo {
	position: fixed;
	margin-left: 7%;
	margin-top: 20px;
	height: 60px;
	z-index: 10002;
}
.page-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	background-color: darkslategrey;
	border-bottom: 10px solid white;
}

.page-nav-links {
	display: flex;
}

.page-nav-links li {
	display: inline;
}

.page-nav-links a {
	text-decoration: none;
	font: 22px Arial;
	letter-spacing: 0.25px;
	margin-right: 35px;

	color: rgb(255, 221, 0);
	border-bottom: 2px solid transparent;
}
.page-nav-links a:hover {
	border-bottom: 2px solid rgb(255, 221, 0);
}

.hamburger {
	position: fixed;
	top: 7px;
	right: 40px;
	font-size: 50px;
	color: rgb(255, 221, 0);
	cursor: pointer;
	display: none;
}

.screen {
	position: fixed;
	top: 0;
	left: -100%;
	width: 70%;
	height: 100vh;
	padding: 0;
	background-color: rgba(47, 79, 79, 0.853);
	display: flex;
	flex-direction: column;
	transition: left 1.5s ease;
	display: none;
}

.screen-links {
	margin-top: 230px;
	list-style-type: none;
}

.screen-links li {
	margin-bottom: 28px;
}

.screen-links a {
	text-decoration: none;
	font: 24px Arial;
	/* color: #87f9f9; */
	color: rgb(255, 221, 0);
}

.screen-links a:hover {
	text-decoration: underline;
}
.active {
	left: 0;
}
