body,
html {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;

	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.background-image {
	background-image: url("church2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: absolute;
	inset: 0; /* to stretch to all 4 edges */
	z-index: -1;
}

main {
	flex: 1;
}

/*  */
/* .header-box {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.image-box {
	width: 40%;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 0;
	padding-bottom: 100px;
	box-sizing: border-box; /* Ensures padding is included in width *
	text-align: right; /* Right justify the content *
}

.text-box {width: 60%;
			padding-top: 100px;
			padding-left: 100px;
			padding-right: 100px;
			padding-bottom: 100px;
            	box-sizing: border-box; /* Ensures padding is included in width *
            	text-align: left; /} */
